extends layout

block content
    p Hello #{user.name}
    p Logged in with #{user.email}

    //-- look at all the shit we are getting
    script(type='text/javascript').
        var x = !{JSON.stringify(user)}
        console.log(x);
